*{
    margin: 0;
    padding: 0;
}
header{
    border-bottom: 1px solid #c5c5c5;
}
.header-content{
    width: 90%;
    margin-left: 5%;
    /* padding-top: 15px;
    padding-bottom: 15px; */
    overflow: hidden;
}
.logo{
    width: 20%;
    float: left;
}
.logo img{
    width: 50%;
}
nav{
    width: 30%;
    float: right;
    padding-top: 18px;
}
nav ul{
    list-style: none;
    overflow: hidden;
}
nav ul li{
    float: left;
    margin-right: 15px;
    font-size: 20px;
}
.content{
    width: 60%;
    margin-left: 20%;
    text-align: center;
    overflow: hidden;
}
.content h1{
    text-align: center;
    color: #0389F8;
    font-size: 50px;

}
.content p{
    text-align: center;
    font-size: 18px;
    color: rgb(53, 50, 50);
    margin-top: 30px;
}
.content img{
    width: 80%;
    margin-top: 30px;
}
.content h1:first-child{
    color: black;
    margin-top: 50px;
}
.main-content{

}
.left-content{
    width: 46%;
    float: left;

}

.left-content h1{
    text-align: right;
    color: red !important;
}
.left-content p{
    text-align: right;
}
.right-content{
    width: 46%;
    float: right;
}
.right-content h1{
    font-size: 40px;
    text-align: left;
}

.creativity-1{
    float: left;
}
.creativity-1 img{
    width: 200px;
}
.creativity-2{
    float: left;
}
.creativity-2 img{
    width: 200px;
}
.creativity-3{
    float: left;
    width: 200px;
}
.creativity-3 img{
    width: 200px;
}
.bottom-content{
    width: 60%;
    margin-left: 20%;
    overflow: hidden;
}
.footer{
    height: 100px;
    background-color: royalblue;
}